<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.partner.room.RoomMapper">
	
	<!-- 객실 등록 -->
	<insert id="roomRegister" parameterType="HashMap">
		INSERT INTO ROOM 
			(room_type,description,count,standard,maximum,basic_price,weekend_price)
		VALUES (
			#{room_type},#{description},#{count},#{standard},#{maximum},#{basic_price},#{weekend_price}
			)
	</insert>
	
	<!-- 인덱스 가져오기  -->
	<select id="getIdx" resultType="int">
		SELECT LAST_INSERT_ID()
	</select>
	
	<!-- 시설 옵션 등록 -->
	<insert id="roomFacilitiesRegister">
		INSERT INTO ROOM_FACILITIES 
			(room_idx,facilities_idx)
		VALUES
			(#{room_idx},#{option})
	</insert>
	
	<!-- 이미지 저장 -->
	<insert id="saveImageInfo">
		INSERT INTO IMAGE
			(mapping_idx,type,url,thumbnail_yn,origin_filename)
		VALUES
			(#{room_idx},#{type},#{url},#{thumbnail_yn},#{filename})
	</insert>
	
	<!-- 객실 상세 조회 -->
	<select id="getRoomDetail">
		SELECT * FROM ROOM
		WHERE idx=#{room_idx}
	</select>
	
	<!-- 객실 업데이트 -->
	<update id="roomUpdate" parameterType="HashMap">
		UPDATE ROOM
		SET
			room_type=#{RoomType},
			description=#{update_description},
			count=#{room_count},
			standard = #{standard_person},
            maximum = #{maximum_person},
            basic_price = #{basic_price},
            weekend_price = #{weekend_price}
        WHERE
        	idx=#{room_idx}
    </update>
    
    
    <select id="getRoomList" resultType="HashMap">
        SELECT 
        	idx AS room_idx,
            room_type,
            description,
            count,
            standard,
            maximum,
            basic_price,
            weekend_price
        FROM ROOM
        WHERE 
        	partner_idx=#{partner_idx}
    </select>
</mapper>