<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.partner.room.RoomMapper">

	<insert id="roomRegister" parameterType="HashMap">
		INSERT INTO ROOM 
			(name,description,count,standard,maximum,basic_price,weekend_price)
		VALUES (
			#{name},#{description},#{count},#{standard},#{maximum},#{basic_price},#{weekend_price}
			)
	</insert>
	

</mapper>