<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.user.reservation.ReservationMapper">

	<!-- 예약 상세 정보 -->
	<select id="getDetail" parameterType="HashMap">
		SELECT
		 	  r.idx AS reservation_idx
			, r.user_idx
			, r.partner_idx
			, r.room_idx
			, r.guest_cnt
			, r.check_in_date
			, r.check_out_date
			, r.price
			, (SELECT check_in FROM PARTNER WHERE idx = r.partner_idx) AS check_in_time
			, (SELECT check_out FROM PARTNER WHERE idx = r.partner_idx) AS check_out_time
			, (SELECT url FROM IMAGE WHERE mapping_idx = r.partner_idx AND type = 'P' AND thumbnail_yn = 'Y') AS image
			, (SELECT name FROM USER WHERE idx = r.user_idx) AS name
		FROM
			RESERVATION r
		WHERE 
			r.idx = #{reservation_idx}
		AND r.user_idx = #{user_idx}
	</select>
	
	<!-- 회원 별 예약 리스트 -->
	<select id="getList" parameterType="HashMap">
		SELECT
			  r.idx AS reservation_idx
			, (SELECT name FROM PARTNER WHERE idx = r.partner_idx) AS partner_name
			, r2.room_type 
			, r.check_in_date 
			, r.check_out_date 
			, DATE_FORMAT(r.reservation_date, '%Y-%m-%d') AS reservation_date_format
			, r.price 
			, r.payment_status 
			, (SELECT url FROM IMAGE WHERE mapping_idx = r.partner_idx AND type = 'P' AND thumbnail_yn = 'Y') AS image
		FROM
			RESERVATION r 
		JOIN ROOM r2
		ON r.room_idx = r2.idx 
		WHERE 
			r.user_idx = #{user_idx}
		<if test="limit != null and offset != null">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>
	
	<!-- 회원 별 예약 리스트 개수 -->
	<select id="getListCnt" parameterType="HashMap">
		SELECT
			COUNT(*)
		FROM
			RESERVATION r 
		JOIN ROOM r2
		ON r.room_idx = r2.idx 
		WHERE 
			r.user_idx = #{user_idx}
	</select>
	
</mapper>