
mtl_project/src/main/resources/db.properties
mtl_project/target/classes/db.properties
mtl_project/target/m2e-wtp/web-resources/META-INF/maven/kr.co/mtl/pom.properties
/mtl_project/target
*/target/**
*.MF
mtl_project/src/main/resources/aws.properties
mtl_project/src/main/resources/application.properties
