<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.user.question.QuestionMapper">
	
	<!-- 문의 등록 -->
	<insert id="registQuestion" parameterType="HashMap">
		INSERT INTO PARTNER_QUESTION (
			  user_idx
			, partner_idx
			, title
			, content
		) VALUES (
			  #{user_idx}
			, #{partner_idx}
			, #{title}
			, #{content}
		)
	</insert>

		<!-- 내가 쓴 후기 리스트 -->
	<select id="getQuestionList1" parameterType="HashMap">
		SELECT
			  user_idx
			, idx
			, title
			, content
			, answer
			, create_date 
			, answer_date 
		FROM
			QUESTION
		WHERE 
			user_idx = #{user_idx}
	</select>
	
	<!-- 내가 쓴 후기 개수 -->
	<select id="getQuestionCnt" parameterType="HashMap">
		SELECT
			COUNT(*)
		FROM
			QUESTION
		WHERE 
			user_idx = #{user_idx}
	</select>

	<insert id="registQuestion1" parameterType="HashMap">
        INSERT INTO QUESTION (
        	user_idx
        	, admin_idx
        	, title
        	, content
        	, create_date
        )VALUES (
        	#{user_idx}
        	, #{admin_idx}
        	, #{title}
        	, #{content}
        	, NOW()
        )
    </insert>
    		<!-- 내가 쓴 후기 리스트 -->
	<select id="getQuestionList" parameterType="HashMap">
		SELECT
			  user_idx
			, idx
			, title
			, content
			, answer
			, create_date 
			, answer_date 
		FROM
			PARTNER_QUESTION
		WHERE 
			user_idx = #{user_idx}
	</select>
	
	<select id="getQuestionDetail" parameterType="HashMap">
	    SELECT 
	        idx,
	        title,
	        content,
	        answer
	    FROM question
	    WHERE idx = #{idx}
	</select>

</mapper>