<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.partner.login.PartnerLoginMapper">

    <!-- 사용자 정보 가져오기 -->
    <select id="getUserInfo" parameterType="map" resultType="map">
        SELECT 
              email,
              name,
              phone
        FROM 
            PARTNER
        WHERE 
            idx = #{partnerIdx}
    </select>

    <!-- 사용자 인증 정보 확인 -->
    <select id="getUserCheck" parameterType="map" resultType="map">
        SELECT
        	  idx AS partner_idx, 
              email,
              name,
              phone
        FROM 
           PARTNER
        WHERE 
            email = #{email}
        AND password = #{password}
    </select>
    
    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="map">
	    INSERT INTO PARTNER (email, password, name, business_name, business_number, phone, business_phone, create_date)
	    VALUES (#{email}, #{password}, #{name}, #{business_name}, #{business_number}, #{phone}, #{business_phone}, NOW())
	</insert>
	
	<!-- 회원가입 이메일 중복 체크 -->
	<select id="checkEmailDuplication" parameterType="String" resultType="int">
		SELECT COUNT(*)
	    FROM PARTNER
	    WHERE email = #{email}
	</select>
	
	<!-- 마이페이지 수정 -->
	<update id="updateUser" parameterType="map">
	    UPDATE PARTNER
	    SET phone = #{phone}
	    WHERE idx = #{partnerIdx}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePassword" parameterType="map">
	    UPDATE PARTNER
	    SET password = #{newPassword},
	    	password_update_date = now()
	    WHERE idx = #{partnerIdx}
	</update>
	
	<!-- 현재 비밀번호 확인 -->
	<select id="getPasswordCheck" parameterType="map" resultType="map">
	    SELECT
	        idx AS partner_idx
	    FROM PARTNER
	    WHERE idx = #{partnerIdx}
	      AND password = #{password} -- DB의 현재 비밀번호와 입력한 비밀번호를 비교
	</select>
	
	
    

</mapper>