<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.admin.question.AdminQuestionMapper">

	<select id="selectQuestions" parameterType="HashMap">
		 SELECT
		 	pq.title AS title,
		 	pq.content AS content,
		 	pq.type AS type,
		 	pq.create_date AS create_date,
		 	pq.answer AS answer,
		 	pq.answer_yn AS answerYN,
		 	pq.answer_date AS answer_date,
		 	u.name AS userName,
		 	p.name AS partnerName
		 FROM 
		 	PARTNER_QUESTION pq
		 LEFT JOIN USER u on pq.user_idx=u.idx
		 LEFT JOIN PARTNER p on pq.partner_idx=p.idx
		 <where>
		 	<if test="answerStatus != null and answerStatus != ''">                          <!--answerStatus가 Y 이거나 N이라는 뜻, 즉 답변완료이거나 답변 대기상태-->
		 		pq.answer_yn = #{answerStatus}
		 	</if>
		 	<if test="searchField != null and searchField != '' and searchText != ''">       <!--searchField와 searchText가 모두 존재하는 경우-->
		 		<choose>
		 			<when test="searchField == 'partnerName'">
						AND p.name LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when>
		 			<when test="searchField == 'userName'">
						AND u.name LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when>
		 			<when test="searchField == 'content'">
						AND pq.content LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when> 
		 		</choose>
		 	</if>
		 </where>
		 ORDER BY
         	pq.create_date DESC
         <if test="limit != null and offset != null">
         	LIMIT ${limit} OFFSET ${offset}
         </if>
	</select>	
	
	<select id="getTotal">
		SELECT
		 	COUNT(*)
		 FROM 
		 	PARTNER_QUESTION pq
		 LEFT JOIN USER u on pq.user_idx=u.idx
		 LEFT JOIN PARTNER p on pq.partner_idx=p.idx
		 <where>
		 	<if test="answerStatus != null and answerStatus != ''">
		 		pq.answer_yn = #{answerStatus}
		 	</if>
		 	<if test="searchField != null and searchField != '' and searchText != ''">
		 		<choose>
		 			<when test="searchField == 'partnerName'">
						AND p.name LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when>
		 			<when test="searchField == 'userName'">
						AND u.name LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when>
		 			<when test="searchField == 'content'">
						AND pq.content LIKE CONCAT('%',#{searchText},'%')	 			
		 			</when> 
		 		</choose>
		 	</if>
		 </where>
	</select>
</mapper>