<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.admin.dashboard.DashboardMapper">

	<!-- 사용자 통계 -->
	<select id="getUser" parameterType="HashMap">
		SELECT 
		    SUM(CASE WHEN DATE(create_date) = CURDATE() THEN 1 ELSE 0 END) AS today_user,
		    COUNT(*) AS total_user
		FROM USER
	</select>
	
	<!-- 판매자 통계 -->
	<select id="getPartner" parameterType="HashMap">
		SELECT 
		    SUM(CASE WHEN DATE(create_date) = CURDATE() THEN 1 ELSE 0 END) AS today_partner,
		    COUNT(*) AS total_partner
		FROM PARTNER
	</select>
	
	<!-- 미답변 문의 -->
	<select id="getQeustion" parameterType="HashMap">
		SELECT COUNT(*) AS unanswer_count
		FROM QUESTION
		WHERE answer_yn = 'N'
	</select>

	<!-- 최근 7일 예약 건수 -->
	<select id="getReservation" parameterType="HashMap">
		SELECT 
			COUNT(*) AS recent_reservation,
			(SELECT COUNT(*) FROM RESERVATION WHERE payment_status = 'R' AND DATE(reservation_date) BETWEEN CURDATE() - INTERVAL 7 DAY AND CURDATE()) AS cancel_reservation
		FROM RESERVATION
		WHERE DATE(reservation_date) BETWEEN CURDATE() - INTERVAL 7 DAY AND CURDATE()
	</select>

	<!-- 지역별 숙소 -->
	<select id="getPartnerWithArea" parameterType="HashMap">
		SELECT
		    SUM(CASE WHEN area = 'BUSAN' THEN 1 ELSE 0 END) AS busan,
		    SUM(CASE WHEN area = 'GANGNEUNG' THEN 1 ELSE 0 END) AS gangneung,
		    SUM(CASE WHEN area = 'JEJU' THEN 1 ELSE 0 END) AS jeju,
		    SUM(CASE WHEN area = 'SEOUL' THEN 1 ELSE 0 END) AS seoul,
		    SUM(CASE WHEN area = 'YEOSU' THEN 1 ELSE 0 END) AS yeosu
		FROM PARTNER
		WHERE approval_status = 'Y'
	</select>

	<!-- 지역별 여행지 -->
	<select id="getLocationWithArea" parameterType="HashMap">
		SELECT
		    SUM(CASE WHEN area = 'BUSAN' THEN 1 ELSE 0 END) AS busan,
		    SUM(CASE WHEN area = 'GANGNEUNG' THEN 1 ELSE 0 END) AS gangneung,
		    SUM(CASE WHEN area = 'JEJU' THEN 1 ELSE 0 END) AS jeju,
		    SUM(CASE WHEN area = 'SEOUL' THEN 1 ELSE 0 END) AS seoul,
		    SUM(CASE WHEN area = 'YEOSU' THEN 1 ELSE 0 END) AS yeosu
		FROM LOCATION
		WHERE type = 'A'
	</select>
	
	<!-- 최근 가입 숙소 -->
	<select id="getResentPartnerList" parameterType="HashMap">
		SELECT
			p.idx AS partner_idx,
			p.name,
			p.address,
			(SELECT url FROM IMAGE WHERE type = 'P' AND mapping_idx = p.idx AND thumbnail_yn = 'Y') AS image
		FROM
			PARTNER p
		WHERE
			p.info_yn = 'Y'
		AND p.approval_status = 'Y'
		ORDER BY p.create_date DESC, p.name
		LIMIT 3
	</select>

</mapper>