<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.login.LoginMapper">

    <!-- 사용자 정보 가져오기 -->
    <select id="getUserInfo" parameterType="map" resultType="map">
        SELECT 
              email,
              name,
              phone,
              birth
        FROM 
            USER
        WHERE 
            idx = #{userIdx}
        AND user_status = 'A'
    </select>

    <!-- 사용자 인증 정보 확인 -->
    <select id="getUserCheck" parameterType="map" resultType="map">
        SELECT
        	  idx AS user_idx, 
              email,
              name,
              phone,
              birth,
              user_status
        FROM 
            USER
        WHERE 
            email = #{email}
        AND password = #{password}
        AND user_status = 'A'
    </select>
    
    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="map">
	    INSERT INTO USER (email, password, name, birth, phone, create_date)
	    VALUES (#{email}, #{password}, #{name}, #{birth}, #{phone}, NOW())
	</insert>
	
	<!-- 마이페이지 수정 -->
	<update id="updateUser" parameterType="map">
	    UPDATE USER
	    SET name = #{name},
	        phone = #{phone}
	    WHERE idx = #{userIdx}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePassword" parameterType="map">
	    UPDATE USER
	    SET password = #{newPassword},
	    	password_update_date = now()
	    WHERE idx = #{userIdx}
	</update>
	
	<!-- 현재 비밀번호 확인 -->
	<select id="getPasswordCheck" parameterType="map" resultType="map">
	    SELECT
	        idx AS user_idx
	    FROM USER
	    WHERE idx = #{userIdx}
	      AND password = #{password} -- DB의 현재 비밀번호와 입력한 비밀번호를 비교
	</select>
	
	
    

</mapper>