<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.user.partner.PartnerMapper">

	<!-- 인기 숙소 리스트 -->
	<select id="getBestPartnerList" parameterType="HashMap">
		SELECT
			  idx AS partner_idx
			, name
			, area
			, score
		FROM 
			PARTNER
		WHERE
			approval_status = 'Y'
		ORDER BY total_reservation DESC, score DESC, name
		<if test="limit != null and offset != null">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>
	
	<!-- 인기 숙소 사진 리스트 -->
	<select id="getBestPartnerImage" parameterType="HashMap">
		SELECT 
			  idx AS image_idx
			, origin_filename
			, url
		FROM
			IMAGE
		WHERE
			type = 'P'
		AND
			mapping_idx = #{partner_idx}
		AND 
			thumbnail_yn = 'Y'
	</select>
	
	<!-- 숙소 검색 리스트 -->
	<select id="getPartnerList" parameterType="HashMap">
		SELECT
			  p.idx AS partner_idx
			, p.name
			, p.area
			, p.score
			, p.type
			, p.address
		FROM 
			PARTNER p
		<include refid="searchPartner"></include>
		ORDER BY p.create_date DESC
		<if test="limit != null and offset != null">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>
	
	<!-- 숙소 검색 리스트 개수 -->
	<select id="getPartnerCnt" parameterType="HashMap">
		SELECT
			COUNT(*)
		FROM 
			PARTNER p
		<include refid="searchPartner"></include>
	</select>
	
	<!-- 숙소 사진 리스트 -->
	<select id="getPartnerImageList" parameterType="HashMap">
		SELECT 
			  idx AS image_idx
			, origin_filename
			, url
			, thumbnail_yn
		FROM
			IMAGE
		WHERE
			type = 'P'
		AND
			mapping_idx = #{partner_idx}
	</select>
	
	<!-- 숙소 시설 리스트 -->
	<select id="getPartnerFacilities" parameterType="HashMap">
		SELECT
			f.name
		FROM 
			FACILITIES f
		JOIN 
			PARTNER_FACILITIES pf
		ON pf.facilities_idx = f.idx
		WHERE
			f.type = 'COMMON'
		AND pf.partner_idx = #{partner_idx}
	</select>
	
	<!-- 숙소 상세 -->
	<select id="getPartnerDetail" parameterType="HashMap">
		SELECT
			  p.name
			, p.phone
			, p.address
			, p.description
			, p.type
			, p.score
			, p.latitude
			, p.hardness
		FROM
			PARTNER p
		WHERE
			idx = #{partner_idx}
	</select>
	
	<!-- 숙소 검색 where -->
	<sql id="searchPartner">
		WHERE
			approval_status = 'Y'
		<if test="area != null and area != ''">
			AND AREA = #{area}
		</if>
		<if test="partnerTypeList != null and partnerTypeList.size() > 0">
			AND p.type IN
			<foreach item="type" collection="partnerTypeList" separator="," open="(" close=")">
				#{type}
			</foreach>
		</if>
		<if test="facilitiesList != null and facilitiesList.size() > 0">
			AND p.idx IN (
				SELECT 
					partner_idx 
				FROM
					PARTNER_FACILITIES
				WHERE
					facilities_idx IN 
				<foreach item="facilities" collection="facilitiesList" separator="," open="(" close=")">
					#{facilities}
				</foreach>
			)
		</if>
	</sql>
</mapper>