<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.partner.accomodation.AccomodationMapper">

	<!-- 숙소 정보 업데이트 -->
	<update id="updateAccomodationInfo" parameterType="HashMap">
		UPDATE PARTNER
		SET
			  address = #{address}
			, description = #{description}
			, check_in = #{check_in}
			, check_out = #{check_out} 
			, type = #{type} 
			, area = #{area} 
			, info_yn = 'Y'
			, update_date = now()
			<if test="address_si != null and address_si != ''">
			, address_si = #{address_si}
			</if>
			<if test="address_dong != null and address_dong != ''">
			, address_dong = #{address_dong}
			</if>
			<if test="latitude != null and latitude != ''">
			, latitude = #{latitude} 
			</if>
			<if test="hardness != null and hardness != ''">
			, hardness = #{hardness} 
			</if>
		WHERE 
			idx = #{partner_idx}
	</update>
	
	<!-- 숙소 시설 등록 -->
	<insert id="insertPartnerFacilities" parameterType="HashMap">
		INSERT INTO PARTNER_FACILITIES (
			  partner_idx
			, facilities_idx
		) VALUES 
		<foreach collection="facilitiesIdxList" item="facilities_idx" separator=",">
		(
			  #{partner_idx}
			, #{facilities_idx}
		)
		</foreach>
	</insert>
	
	<!-- 숙소 시설 삭제 -->
	<delete id="deletePartnerFacilities" parameterType="HashMap">
		DELETE FROM PARTNER_FACILITIES
		WHERE 
			partner_idx = #{partner_idx}
	</delete>
	
	<!-- 숙소 이미지 등록 -->
	<insert id="insertPartnerImage" parameterType="HashMap">
		INSERT INTO IMAGE (
			  mapping_idx
			, url
			, origin_filename
			, thumbnail_yn
			, type
		) VALUES (
			  #{partner_idx}
			, #{url}
			, #{origin_filename}
			, #{thumbnail_yn}
			, 'P'
		)
	</insert>
	
	<!-- 숙소 이미지 삭제 -->
	<delete id="deletePartnerImage" parameterType="HashMap">
		DELETE FROM IMAGE
		WHERE 
			mapping_idx = #{partner_idx}
		AND type = 'P'
	</delete>
	
	<!-- 숙소 키워드 등록 -->
	<insert id="insertPartnerKeyword" parameterType="HashMap">
		INSERT INTO PARTNER_KEYWORD (
			  partner_idx
			, keyword_idx
		) VALUES 
		<foreach collection="keywordIdxList" item="keyword_idx" separator=",">
		(
			  #{partner_idx}
			, #{keyword_idx}
		)
		</foreach>
	</insert>

	<!-- 숙소 키워드 삭제 -->
	<delete id="deletePartnerKeyword" parameterType="HashMap">
		DELETE FROM PARTNER_KEYWORD
		WHERE 
			partner_idx = #{partner_idx}
	</delete>
	
	<!-- 숙소 상세 -->
	<select id="getDetail" parameterType="HashMap">
		SELECT
			  name
			, type
			, area
			, phone
			, business_phone
			, check_in
			, check_out
			, address
			, address_si
			, address_dong
			, description
			, info_yn
		FROM
			PARTNER
		WHERE
			idx = #{partner_idx}
	</select>
	
	<!-- 숙소 시설 -->
	<select id="getFacilitiesList" parameterType="HashMap">
		SELECT
			facilities_idx
		FROM
			PARTNER_FACILITIES
		WHERE
			partner_idx = #{partner_idx}
	</select>

	<!-- 숙소 이미지 -->
	<select id="getImageList" parameterType="HashMap">
		SELECT
			  idx AS image_idx
			, url
		FROM
			IMAGE
		WHERE
			mapping_idx = #{partner_idx}
		AND type = 'P'
	</select>

	<!-- 키워드 이미지 -->
	<select id="getKeywordList" parameterType="HashMap">
		SELECT
			keyword_idx
		FROM
			PARTNER_KEYWORD
		WHERE
			partner_idx = #{partner_idx}
	</select>
	
</mapper>