<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mtl.common.CommonMapper">

	<!-- 코드 리스트 -->
	<select id="getCodeList" parameterType="HashMap">
		SELECT 
			  code
			, codename
			, type
			, description
		FROM 
			CODE
		WHERE 
			type = #{type}
	</select>
	
	<!-- 키워드 리스트 -->
	<select id="getKeywordList" parameterType="HashMap">
		SELECT
			  idx AS keyword_idx
			, keyword
		FROM
			KEYWORD
		<if test="type != null and type != ''">
			WHERE type = #{type}
		</if>
	</select>

	<!-- 시설 리스트 -->
	<select id="getFacilitiesList" parameterType="HashMap">
		SELECT
			  idx AS facilities_idx 
			, name
		FROM
			FACILITIES
		<if test="type != null and type != ''">
			WHERE type = #{type}
		</if>
	</select>
</mapper>